body {
    font-family: sans-serif;
    width: 50%;
    margin: auto;
}
h3 {
    font-size: 24px;
    color: #00008b;
}
#p1 {
    text-shadow: 1px 3px yellow;
}
#p2 {
    text-shadow: 1px 1px 3px yellow;
}
#p3 {
    text-shadow: 1px 1px 10px yellow;
}
#p4 {
    text-shadow: 1px 1px 10px yellow, -4px -4px red;
}
#p5 {
    text-shadow: 1px 1px 10px yellow, -4px -4px 10px red;
}