table {
    border: solid #000084 2vh;
}
td {
    width: 3vh;
    height: 3vh;
    border: solid #000084 thin;
}
.amarillo {
    background-color: yellow;
    border-style: hi;
}
.verde {
    background-color: green;
}
.azul {
    background-color: blue;
}
.rojo {
    background-color: red;
}
#centro {
    border-style: hidden;
}