body {
    weight: 80%;
    margin: auto;
    font-family: sans-serif;
    background-color:#fddbbd ;
}
h1 {
    color: #b0b0b0;
    text-transform: uppercase;
    text-align: center;
}
div {
    float: left;
    margin:0 1em;
    position: relative;
    
}
p {
    width: 15em;
    height: 15em;
    border:dashed  #c9a568;
    background-color: #f2d0ab;
    font-style: italic;
    text-align: justify;
    padding: 1vh;
    line-height: 1.5em;
    padding-top: 1em;
}
p::first-letter {
    color: #c9a568;
    font-size: 6vh;
    font-style: normal;
    float: left;
}
h2 {
    padding-left: .5em;
    position: absolute ;
    width: 70%;
    margin: auto;
    margin-left: 12.5%;
    background-color:#c9a568;
    color: #dddddd;
    font-style: italic;
}